<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  </div>

  <div>
  <md-card class="bgcolor">
  <button md-button  (click)="next()">Click me!</button>
  </md-card>
  
	
  
  </div>
  <div>
  <md-card class="bgcolor">
  <button md-button  (click)="next1()">Touchme!</button>
  </md-card>
  <div layout="row" layout-align="center center" *ngIf= "a==true">
      <div style="background-color:#004444;height: 10px;" flex="60">
      </div>
    </div> 
	
  
  </div>
  <div>
  <md-card class="bgcolor">
  <button md-button  (click)="next2()">Hitme!</button>
  </md-card>
  
	<div layout="row" layout-align="center center" *ngIf= "b==true">
      <div style="background-color:pink;height: 10px;" flex="60">
      </div>
    </div> 
  
  </div>
  
  